In [4]:
import numpy as np
import pandas as pd
from pathlib import Path

In [22]:
path_prj = Path('/home/felusiani/Projects/MachineLearning/ML_Project')
path_data = path_prj / Path('./data')
TR_csv = path_data / Path('./ML_CUP/ML-CUP20-TR.csv')
TS_csv = path_data / Path('./ML_CUP//ML-CUP20-TS.csv')

In [40]:
TR_data = pd.read_csv(TR_csv,skiprows=7, header=None, index_col=0)
TS_data = pd.read_csv(TS_csv,skiprows=7, header=None, index_col=0)

In [41]:
print(TS_data)
print(TR_data)

           1         2         3         4         5         6         7   \
0
1    0.807179 -0.490503 -0.316058  1.667556  0.529964  0.152691  1.050302
2   -1.223277  1.115751  0.942666 -0.688887 -1.553761 -0.030658 -1.102281
3   -1.342716  0.639824  1.400384 -1.537207 -1.301188 -0.305682 -1.281663
4    1.284933 -1.561339 -1.174280 -0.217599  1.035110 -0.489031  0.930714
5   -1.402435  1.353715  0.942666 -0.217599 -1.111759 -0.397357 -1.341457
..        ...       ...       ...       ...       ...       ...       ...
468 -1.342716  0.104406  2.029746 -0.971661 -1.238045 -0.397357 -1.281663
469  0.687740 -1.323375 -0.945421 -0.783145  0.782537 -0.672380  0.751332
470  1.165495 -1.263884 -1.117065 -0.594630  1.540256 -0.855729  0.631744
471  0.926617 -0.906939 -0.659347  1.761814  0.782537 -0.214007  0.691538
472  0.807179 -0.966430 -0.773776  0.724979  1.161396  0.244365  0.990508

           8         9         10
0
1   -0.869237 -0.362536  1.361925
2    0.680087  1.326409 -1.462774
3   -0.869237  0.819726 -1.049404
4   -0.869237 -1.207009  0.672974
5    0.820935  1.270111 -0.911613
..        ...       ...       ...
468 -0.164999  0.819726 -1.256089
469 -1.010085 -1.263307  0.672974
470 -1.573476 -0.869219  0.121813
471 -0.728390 -0.700325  1.361925
472 -0.728390 -0.475132  1.293030

[472 rows x 10 columns]
            1         2         3         4         5         6         7   \
0
1    -1.227729  0.740105  0.453528 -0.761051 -0.537705  1.471803 -1.143195
2    -1.138424  0.401816  2.186819 -1.827160 -1.051730 -0.465455 -1.186131
3    -0.932510  1.226327  1.086944 -0.638613 -0.917756 -0.292441 -1.434838
4    -1.037358  1.370826  0.945194 -0.380548 -0.490811  0.370115 -0.312516
5     0.484440  0.192628 -0.348715  1.578780  0.485438 -0.340264  0.189964
...        ...       ...       ...       ...       ...       ...       ...
1520  0.938149 -2.146722 -1.284843  0.123335  0.573836 -0.535459  0.720920
1521  1.065179 -1.482392 -0.469370 -0.449872  0.260386  0.036954  1.226607
1522 -0.920735  0.130270  1.057556 -1.322965 -1.646272 -0.389996 -1.447411
1523 -1.088826  1.850026  0.443968 -1.867511 -1.390189 -0.184824 -0.714050
1524 -0.624057  1.270866  1.060025 -1.179048 -1.604488 -0.327172 -0.886385

            8         9         10         11         12
0
1     2.034647  1.603978 -1.399807  58.616635 -36.878797
2     0.430193  1.344390 -0.886397  75.310457 -27.210492
3     0.461744  0.771817 -1.385428  68.513133 -31.582073
4     2.617978  1.347718 -0.583328  57.655634 -37.409493
5    -0.240548 -0.701919  1.439752  43.327791 -35.763594
...        ...       ...       ...        ...        ...
1520 -1.364913 -0.971705  0.238846  28.914647  -7.531644
1521 -0.919074 -1.486910  1.885093  34.994708 -23.832616
1522  0.335906  1.309321 -1.341631  72.885485 -28.704528
1523  1.857179  1.153889 -0.820186  62.954814 -34.902101
1524  1.067272  0.029235 -1.055179  60.144356 -36.302313

[1524 rows x 12 columns]